.footer {
    padding-bottom: $expander-1;
    transition: opacity $fast-duration $ease;

    .is-tranny & {
        opacity: 0;
    }

    .sqs-block-html .sqs-block-content {
        padding-left: 0;
        padding-right: 0;
    }

    .sqs-block-horizontalrule hr {
        .is-home-page &,
        .is-colophon-page & {
            margin-top: 0;
        }
    }
}
.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__main,
.footer__socials {
    width: 100%;
    text-align: center;
}
.footer__main {
    @include center-text();
    margin-top: $padding-2;

    @include respond( $tablet-breakpoint ) {
        margin-bottom: $expander-1 / 2;
    }
}
.footer__signup {
    .sqs-block-newsletter {
        .sqs-block-content {
            display: flex;
            justify-content: center;
            text-align: center;

            .form__fieldset {
                margin-bottom: 0;
            }
            .form__fieldset--inline {
                justify-content: center;
            }
            .form__fieldset--title {
                @include center-text();
            }
            .form__fieldset--title div {
                margin: $expander-0 0;
            }
        }
    }
}
