._svg {
    transition: fill $base-duration $ease;
    cursor: pointer;
}
._svg--logo {
    width: 54.87px;
    height: 36px;
    transition: fill $base-duration $ease,
                width $base-duration $ease,
                height $base-duration $ease;

    // tweak
    .is-navi-mobile & {
        fill: $white;
    }

    // tweak
    .is-home-page & {
        fill: $black;
    }

    .is-boxen-page &,
    .is-uid-page & {
        // tweak
        fill: $white;
    }
}
._svg--play {
    width: $expander-m;
    height: $expander-m;
    fill: $white;
    pointer-events: none;

    @include respond-min( $mobile-breakpoint ) {
        width: $padding-1;
        height: $padding-1;
    }

    @include respond-min( $desktop-breakpoint ) {
        width: $expander-1;
        height: $expander-1;
    }
}
._svg--tabi {
    // tweak
    fill: $teal;
    width: 43px;
    height: 29px;
}
._svg--tabinohana {
    fill: $white;
    width: 440px;
    height: 120px;

    @include respond( $mobile-breakpoint ) {
        height: auto;
        width: 80%;
    }
}
._svg--rainbowpop {
    width: 96px;
    height: 88.41px;

    @include respond( $mobile-breakpoint ) {
        height: auto;
        width: 72px;
    }
}
._svg--kickstarter {
    // tweak
    fill: $teal;
    width: 25.18px;
    height: 28px;
}
